# Lab Exercise: SQL Analysis with Polars

In this lab, you'll practice SQL queries using Polars' built-in SQL functionality. Complete each exercise by writing the appropriate SQL query.

In [24]:
# Setup - Run this cell first
import polars as pl

from google.colab import files
uploaded = files.upload()

for filename in uploaded.keys():
    print(f"Uploaded: {filename}")

airlines = pl.read_csv("nyc_airlines.csv")
airports = pl.read_csv("nyc_airports.csv")

ctx = pl.SQLContext(
    airlines=airlines,
    airports=airports,
    eager_execution=True
)

print("Setup complete! Tables available:")
print(ctx.execute("SHOW TABLES"))

Saving nyc_airlines.csv to nyc_airlines (2).csv
Saving nyc_airports.csv to nyc_airports (2).csv
Uploaded: nyc_airlines (2).csv
Uploaded: nyc_airports (2).csv
Setup complete! Tables available:
shape: (2, 1)
┌──────────┐
│ name     │
│ ---      │
│ str      │
╞══════════╡
│ airlines │
│ airports │
└──────────┘

/tmp/ipython-input-358335590.py:13: DeprecationWarning: The argument `eager_execution` for `SQLContext.__init__` is deprecated. It has been renamed to `eager`.
  ctx = pl.SQLContext(

## Exercise 1: Basic Queries

### 1.1 Find all unique carriers in the airlines table

In [25]:
# Write your SQL query here

result = ctx.execute("""
  SELECT DISTINCT carrier
  FROM airlines
""")

result

shape: (16, 1)
┌─────────┐
│ carrier │
│ ---     │
│ str     │
╞═════════╡
│ 9E      │
│ AA      │
│ AS      │
│ B6      │
│ DL      │
│ …       │
│ UA      │
│ US      │
│ VX      │
│ WN      │
│ YV      │
└─────────┘

### 1.2 Find the top 10 destinations by number of flights

In [29]:
# Write your SQL query here
from google.colab import files
uploaded = files.upload()
flights = pl.read_csv("nyc_flights.csv")

ctx = pl.SQLContext(
    flights=flights,
    eager_execution=True
)

result = ctx.execute("""
    SELECT dest, COUNT(*) AS num_flights
    FROM flights
    GROUP BY dest
    ORDER BY num_flights DESC
    LIMIT 10
""")

# print(result)

result

Saving nyc_flights.csv to nyc_flights (3).csv

/tmp/ipython-input-2943794029.py:6: DeprecationWarning: The argument `eager_execution` for `SQLContext.__init__` is deprecated. It has been renamed to `eager`.
  ctx = pl.SQLContext(

shape: (10, 2)
┌──────┬─────────────┐
│ dest ┆ num_flights │
│ ---  ┆ ---         │
│ str  ┆ u32         │
╞══════╪═════════════╡
│ ORD  ┆ 17283       │
│ ATL  ┆ 17215       │
│ LAX  ┆ 16174       │
│ BOS  ┆ 15508       │
│ MCO  ┆ 14082       │
│ CLT  ┆ 14064       │
│ SFO  ┆ 13331       │
│ FLL  ┆ 12055       │
│ MIA  ┆ 11728       │
│ DCA  ┆ 9705        │
└──────┴─────────────┘

### 1.3 Find all flights that departed more than 2 hours late (120 minutes)

In [31]:
# Write your SQL query here
result = ctx.execute("""
SELECT *
    FROM flights
    WHERE dep_delay > 120
""")
result

shape: (9_723, 19)
┌──────┬───────┬─────┬──────────┬───┬──────────┬──────┬────────┬─────────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ distance ┆ hour ┆ minute ┆ time_hour               │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---      ┆ ---  ┆ ---    ┆ ---                     │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ i64      ┆ i64  ┆ i64    ┆ datetime[μs, UTC]       │
╞══════╪═══════╪═════╪══════════╪═══╪══════════╪══════╪════════╪═════════════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 848      ┆ … ┆ 184      ┆ 18   ┆ 35     ┆ 2013-01-01 23:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 957      ┆ … ┆ 200      ┆ 7    ┆ 33     ┆ 2013-01-01 12:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1114     ┆ … ┆ 1416     ┆ 9    ┆ 0      ┆ 2013-01-01 14:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1540     ┆ … ┆ 1598     ┆ 13   ┆ 38     ┆ 2013-01-01 18:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1815     ┆ … ┆ 1134     ┆ 13   ┆ 25     ┆ 2013-01-01 18:00:00 UTC │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …        ┆ …    ┆ …      ┆ …                       │
│ 2013 ┆ 9     ┆ 30  ┆ 1823     ┆ … ┆ 765      ┆ 15   ┆ 45     ┆ 2013-09-30 19:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 1951     ┆ … ┆ 708      ┆ 16   ┆ 49     ┆ 2013-09-30 20:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2053     ┆ … ┆ 746      ┆ 18   ┆ 15     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2159     ┆ … ┆ 301      ┆ 18   ┆ 45     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2235     ┆ … ┆ 944      ┆ 20   ┆ 1      ┆ 2013-10-01 00:00:00 UTC │
└──────┴───────┴─────┴──────────┴───┴──────────┴──────┴────────┴─────────────────────────┘

## Exercise 2: Aggregation

### 2.1 Calculate the average departure delay for each origin airport

In [33]:
# Write your SQL query here
result = ctx.execute("""
 SELECT origin,
           AVG(dep_delay) AS avg_dep_delay
    FROM flights
    GROUP BY origin
""")

result

shape: (3, 2)
┌────────┬───────────────┐
│ origin ┆ avg_dep_delay │
│ ---    ┆ ---           │
│ str    ┆ f64           │
╞════════╪═══════════════╡
│ JFK    ┆ 12.112159     │
│ EWR    ┆ 15.107954     │
│ LGA    ┆ 10.346876     │
└────────┴───────────────┘

### 2.2 Find the busiest month of the year

Count the number of flights per month and find which month has the most flights.

In [34]:
# First, let's check what columns are available
result = ctx.execute("""
   SELECT *
    FROM flights
    LIMIT 5
""")
result

# Now write your query to find busiest month
result = ctx.execute("""
 SELECT month,
           COUNT(*) AS num_flights
    FROM flights
    GROUP BY month
    ORDER BY num_flights DESC
    LIMIT 1
""")

result

shape: (1, 2)
┌───────┬─────────────┐
│ month ┆ num_flights │
│ ---   ┆ ---         │
│ i64   ┆ u32         │
╞═══════╪═════════════╡
│ 7     ┆ 29425       │
└───────┴─────────────┘

### 2.3 Calculate the on-time performance rate for each carrier

Consider a flight on-time if the departure delay is <= 15 minutes.

In [36]:
# Write your SQL query here
result = ctx.execute("""
SELECT carrier,
           SUM(CASE WHEN dep_delay <= 15 THEN 1 ELSE 0 END) * 1.0 / COUNT(*)
             AS on_time_rate
    FROM flights
    GROUP BY carrier
    ORDER BY on_time_rate DESC
""")

result

shape: (16, 2)
┌─────────┬──────────────┐
│ carrier ┆ on_time_rate │
│ ---     ┆ ---          │
│ str     ┆ f64          │
╞═════════╪══════════════╡
│ HA      ┆ 0.929825     │
│ AS      ┆ 0.865546     │
│ US      ┆ 0.849873     │
│ DL      ┆ 0.830742     │
│ AA      ┆ 0.824376     │
│ …       ┆ …            │
│ FL      ┆ 0.716871     │
│ F9      ┆ 0.715328     │
│ 9E      ┆ 0.701246     │
│ EV      ┆ 0.659221     │
│ YV      ┆ 0.647255     │
└─────────┴──────────────┘

## Exercise 3: Joins

### 3.1 List all flights with their airline names (not just carrier codes)

Show the first 20 flights with carrier code, airline name, flight number, origin, and destination.

In [41]:
# Write your SQL query here
import polars as pl
from google.colab import files
uploaded = files.upload()

# Treat these as nulls, and look farther into the file to infer schema
READ_OPTS = dict(null_values=["NA", ""], infer_schema_length=10000)

# Simple tables
airlines = pl.read_csv("nyc_airlines.csv", **READ_OPTS)
flights = pl.read_csv("nyc_flights.csv", **READ_OPTS)
airports = pl.read_csv("nyc_airports.csv", **READ_OPTS)
planes   = pl.read_csv("nyc_planes.csv",   **READ_OPTS)
weather  = pl.read_csv("nyc_weather.csv",  **READ_OPTS)

# Flights: force numeric columns to nullable Int64/Float64
flights = pl.read_csv(
    "nyc_flights.csv",
    **READ_OPTS,
    schema_overrides={
        "year": pl.Int64,
        "month": pl.Int64,
        "day": pl.Int64,
        "dep_delay": pl.Int64,
        "arr_delay": pl.Int64,
        "air_time": pl.Int64,
        "distance": pl.Int64,
        "hour": pl.Int64,
        "minute": pl.Int64,
    },
)

# Weather: many float columns can contain NA text
weather = pl.read_csv(
    "nyc_weather.csv",
    **READ_OPTS,
    schema_overrides={
        "temp": pl.Float64,
        "dewp": pl.Float64,
        "humid": pl.Float64,
        "wind_dir": pl.Float64,
        "wind_speed": pl.Float64,
        "wind_gust": pl.Float64,
        "precip": pl.Float64,
        "pressure": pl.Float64,
        "visib": pl.Float64,
    },
)

# Parse datetimes (be tolerant of nulls/odd rows)
flights = flights.with_columns(pl.col("time_hour").str.strptime(pl.Datetime, strict=False))
weather = weather.with_columns(pl.col("time_hour").str.strptime(pl.Datetime, strict=False))

# Build SQL context
ctx = pl.SQLContext(
    airlines=airlines,
    airports=airports,
    flights=flights,
    planes=planes,
    weather=weather,
    eager_execution=True
)

print(ctx.execute("SHOW TABLES"))

Saving nyc_airlines.csv to nyc_airlines (5).csv
Saving nyc_airports.csv to nyc_airports (5).csv
Saving nyc_flights.csv to nyc_flights (6).csv
Saving nyc_planes.csv to nyc_planes (3).csv
Saving nyc_weather.csv to nyc_weather (3).csv
shape: (5, 1)
┌──────────┐
│ name     │
│ ---      │
│ str      │
╞══════════╡
│ airlines │
│ airports │
│ flights  │
│ planes   │
│ weather  │
└──────────┘

/tmp/ipython-input-3383626149.py:55: DeprecationWarning: The argument `eager_execution` for `SQLContext.__init__` is deprecated. It has been renamed to `eager`.
  ctx = pl.SQLContext(

In [42]:
result = ctx.execute("""
    SELECT
        f.carrier,
        a.name AS airline_name,
        f.flight,
        f.origin,
        f.dest
    FROM flights f
    LEFT JOIN airlines a
      ON f.carrier = a.carrier
    LIMIT 20
""")

result

shape: (20, 5)
┌─────────┬────────────────────────┬────────┬────────┬──────┐
│ carrier ┆ airline_name           ┆ flight ┆ origin ┆ dest │
│ ---     ┆ ---                    ┆ ---    ┆ ---    ┆ ---  │
│ str     ┆ str                    ┆ i64    ┆ str    ┆ str  │
╞═════════╪════════════════════════╪════════╪════════╪══════╡
│ UA      ┆ United Air Lines Inc.  ┆ 1545   ┆ EWR    ┆ IAH  │
│ UA      ┆ United Air Lines Inc.  ┆ 1714   ┆ LGA    ┆ IAH  │
│ AA      ┆ American Airlines Inc. ┆ 1141   ┆ JFK    ┆ MIA  │
│ B6      ┆ JetBlue Airways        ┆ 725    ┆ JFK    ┆ BQN  │
│ DL      ┆ Delta Air Lines Inc.   ┆ 461    ┆ LGA    ┆ ATL  │
│ …       ┆ …                      ┆ …      ┆ …      ┆ …    │
│ B6      ┆ JetBlue Airways        ┆ 1806   ┆ JFK    ┆ BOS  │
│ UA      ┆ United Air Lines Inc.  ┆ 1187   ┆ EWR    ┆ LAS  │
│ B6      ┆ JetBlue Airways        ┆ 371    ┆ LGA    ┆ FLL  │
│ MQ      ┆ Envoy Air              ┆ 4650   ┆ LGA    ┆ ATL  │
│ B6      ┆ JetBlue Airways        ┆ 343    ┆ EWR    ┆ PBI  │
└─────────┴────────────────────────┴────────┴────────┴──────┘

### 3.2 Find the average age of planes for each carrier

Hint: The planes table has a `year` column for manufacture year. Calculate age based on 2013.result = ctx.execute("""
    SELECT
        f.carrier,
        a.name AS airline_name,
        f.flight,
        f.origin,
        f.dest
    FROM flights f
    LEFT JOIN airlines a
      ON f.carrier = a.carrier
    LIMIT 20
""")

result

In [43]:
# Write your SQL query here

result = ctx.execute("""
    SELECT
        f.carrier,
        AVG(2013 - p.year) AS avg_plane_age
    FROM flights f
    INNER JOIN planes p
      ON f.tailnum = p.tailnum
    WHERE p.year IS NOT NULL
    GROUP BY f.carrier
    ORDER BY avg_plane_age DESC
""")

# print(result)
result

shape: (16, 2)
┌─────────┬───────────────┐
│ carrier ┆ avg_plane_age │
│ ---     ┆ ---           │
│ str     ┆ f64           │
╞═════════╪═══════════════╡
│ MQ      ┆ 35.319        │
│ AA      ┆ 25.869426     │
│ DL      ┆ 16.372169     │
│ UA      ┆ 13.207691     │
│ FL      ┆ 11.385829     │
│ …       ┆ …             │
│ B6      ┆ 6.686702      │
│ F9      ┆ 4.87874       │
│ VX      ┆ 4.473643      │
│ AS      ┆ 3.33662       │
│ HA      ┆ 1.548387      │
└─────────┴───────────────┘

### 3.3 Find flights that experienced both departure delays and bad weather

Join flights with weather data and find flights where departure delay > 30 minutes and either wind_speed > 20 or precip > 0.1

In [45]:
# First, explore the weather table structure
result = ctx.execute("""
    SELECT *
    FROM weather
    LIMIT 5
""")
# print(result)
result

# Now write your join query
result = ctx.execute("""
   SELECT
        f.year, f.month, f.day, f.hour,
        f.origin, f.dest, f.flight, f.dep_delay,
        w.wind_speed, w.precip
    FROM flights f
    INNER JOIN weather w
      ON f.time_hour = w.time_hour
     AND f.origin = w.origin
    WHERE f.dep_delay > 30
      AND (w.wind_speed > 20 OR w.precip > 0.1)
    ORDER BY f.dep_delay DESC
    LIMIT 10
""")

# print(result)

result

shape: (10, 10)
┌──────┬───────┬─────┬──────┬───┬────────┬───────────┬────────────┬────────┐
│ year ┆ month ┆ day ┆ hour ┆ … ┆ flight ┆ dep_delay ┆ wind_speed ┆ precip │
│ ---  ┆ ---   ┆ --- ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---        ┆ ---    │
│ i64  ┆ i64   ┆ i64 ┆ i64  ┆   ┆ i64    ┆ i64       ┆ f64        ┆ f64    │
╞══════╪═══════╪═════╪══════╪═══╪════════╪═══════════╪════════════╪════════╡
│ 2013 ┆ 4     ┆ 10  ┆ 19   ┆ … ┆ 2391   ┆ 960       ┆ 31.07106   ┆ 0.11   │
│ 2013 ┆ 12    ┆ 14  ┆ 18   ┆ … ┆ 2391   ┆ 825       ┆ 20.71404   ┆ 0.01   │
│ 2013 ┆ 4     ┆ 19  ┆ 17   ┆ … ┆ 257    ┆ 797       ┆ 25.31716   ┆ 0.0    │
│ 2013 ┆ 4     ┆ 19  ┆ 17   ┆ … ┆ 1901   ┆ 761       ┆ 25.31716   ┆ 0.0    │
│ 2013 ┆ 4     ┆ 10  ┆ 19   ┆ … ┆ 1485   ┆ 639       ┆ 33.37262   ┆ 0.14   │
│ 2013 ┆ 11    ┆ 24  ┆ 12   ┆ … ┆ 1697   ┆ 636       ┆ 29.92028   ┆ 0.0    │
│ 2013 ┆ 5     ┆ 9   ┆ 10   ┆ … ┆ 731    ┆ 504       ┆ 12.65858   ┆ 0.23   │
│ 2013 ┆ 5     ┆ 23  ┆ 15   ┆ … ┆ 341    ┆ 466       ┆ 18.41248   ┆ 0.19   │
│ 2013 ┆ 4     ┆ 10  ┆ 20   ┆ … ┆ 985    ┆ 437       ┆ 17.2617    ┆ 0.14   │
│ 2013 ┆ 12    ┆ 29  ┆ 17   ┆ … ┆ 2379   ┆ 420       ┆ 20.71404   ┆ 0.04   │
└──────┴───────┴─────┴──────┴───┴────────┴───────────┴────────────┴────────┘

## Exercise 4: Advanced Queries

### 4.1 Find the most popular aircraft types (by number of flights)

Join flights with planes to get manufacturer and model information. Show top 10.

In [47]:
# Write your SQL query here
result = ctx.execute("""
   SELECT
        p.manufacturer,
        p.model,
        COUNT(*) AS num_flights
    FROM flights f
    INNER JOIN planes p
      ON f.tailnum = p.tailnum
    GROUP BY p.manufacturer, p.model
    ORDER BY num_flights DESC
    LIMIT 10
""")

# print(result)
result

shape: (10, 3)
┌───────────────────────────────┬─────────────────┬─────────────┐
│ manufacturer                  ┆ model           ┆ num_flights │
│ ---                           ┆ ---             ┆ ---         │
│ str                           ┆ str             ┆ u32         │
╞═══════════════════════════════╪═════════════════╪═════════════╡
│ AIRBUS                        ┆ A320-232        ┆ 31278       │
│ EMBRAER                       ┆ EMB-145LR       ┆ 28027       │
│ EMBRAER                       ┆ ERJ 190-100 IGW ┆ 23716       │
│ AIRBUS INDUSTRIE              ┆ A320-232        ┆ 14553       │
│ EMBRAER                       ┆ EMB-145XR       ┆ 14051       │
│ BOEING                        ┆ 737-824         ┆ 13809       │
│ BOMBARDIER INC                ┆ CL-600-2D24     ┆ 11807       │
│ BOEING                        ┆ 737-7H4         ┆ 10389       │
│ BOEING                        ┆ 757-222         ┆ 9150        │
│ MCDONNELL DOUGLAS AIRCRAFT CO ┆ MD-88           ┆ 8932        │
└───────────────────────────────┴─────────────────┴─────────────┘

### 4.2 Analyze route performance

Find the top 10 routes (origin-destination pairs) with:
- Total number of flights
- Average departure delay
- Percentage of flights delayed more than 30 minutes

Include airport names, not just codes.

In [78]:
# Write your SQL query here
result = ctx.execute("""
 SELECT
    origin,
    dest,
    COUNT(*) AS total_flights,
    AVG(dep_delay > 5)*100 AS delay_rate
FROM flights
GROUP BY origin, dest
ORDER BY total_flights DESC, delay_rate ASC
LIMIT 10;
""")

# print(result)
result

shape: (10, 4)
┌────────┬──────┬───────────────┬────────────┐
│ origin ┆ dest ┆ total_flights ┆ delay_rate │
│ ---    ┆ ---  ┆ ---           ┆ ---        │
│ str    ┆ str  ┆ u32           ┆ f64        │
╞════════╪══════╪═══════════════╪════════════╡
│ JFK    ┆ LAX  ┆ 11262         ┆ 25.035727  │
│ LGA    ┆ ATL  ┆ 10263         ┆ 26.750645  │
│ LGA    ┆ ORD  ┆ 8857          ┆ 25.187178  │
│ JFK    ┆ SFO  ┆ 8204          ┆ 26.898501  │
│ LGA    ┆ CLT  ┆ 6168          ┆ 24.560228  │
│ EWR    ┆ ORD  ┆ 6100          ┆ 33.37891   │
│ JFK    ┆ BOS  ┆ 5898          ┆ 28.06775   │
│ LGA    ┆ MIA  ┆ 5781          ┆ 22.497817  │
│ JFK    ┆ MCO  ┆ 5464          ┆ 30.327567  │
│ EWR    ┆ BOS  ┆ 5327          ┆ 30.908398  │
└────────┴──────┴───────────────┴────────────┘

In [80]:
result = ctx.execute("""
SELECT
origin,
    dest,
    COUNT(*) AS total_flights,
    CONCAT(
        ROUND(
            100.0 * SUM(CASE WHEN dep_delay > 30 THEN 1 ELSE 0 END)
            / NULLIF(COUNT(dep_delay), 0)
        , 2),
        '%'
    ) AS pct_delayed_over_30
FROM flights
GROUP BY origin, dest
ORDER BY origin, dest;
""")

result

shape: (224, 4)
┌────────┬──────┬───────────────┬─────────────────────┐
│ origin ┆ dest ┆ total_flights ┆ pct_delayed_over_30 │
│ ---    ┆ ---  ┆ ---           ┆ ---                 │
│ str    ┆ str  ┆ u32           ┆ str                 │
╞════════╪══════╪═══════════════╪═════════════════════╡
│ EWR    ┆ ALB  ┆ 439           ┆ 27.21%              │
│ EWR    ┆ ANC  ┆ 8             ┆ 12.5%               │
│ EWR    ┆ ATL  ┆ 5022          ┆ 16.38%              │
│ EWR    ┆ AUS  ┆ 968           ┆ 13.56%              │
│ EWR    ┆ AVL  ┆ 265           ┆ 13.83%              │
│ …      ┆ …    ┆ …             ┆ …                   │
│ LGA    ┆ SYR  ┆ 293           ┆ 20.66%              │
│ LGA    ┆ TPA  ┆ 2145          ┆ 12.96%              │
│ LGA    ┆ TVC  ┆ 77            ┆ 20.55%              │
│ LGA    ┆ TYS  ┆ 308           ┆ 19.25%              │
│ LGA    ┆ XNA  ┆ 745           ┆ 11.72%              │
└────────┴──────┴───────────────┴─────────────────────┘

## Bonus: Compare with Polars

### Choose one of the queries above and implement it using Polars

This will help you understand the relationship between SQL and Polars operations.

In [86]:
# Example: Let's implement Exercise 2.1 (average delay by origin) in Polars

# SQL version (for reference)
sql_result = ctx.execute("""
    SELECT
        origin,
        AVG(dep_delay) as avg_delay
    FROM flights
    WHERE dep_delay IS NOT NULL
    GROUP BY origin
    ORDER BY avg_delay DESC
""")

# Polars version
polars_result = (
    flights
    .filter(pl.col('dep_delay').is_not_null())
    .group_by('origin')
    .agg(pl.col('dep_delay').mean().alias('avg_delay'))
    .sort('avg_delay', descending=True)
)

print("SQL Result:")
print(sql_result)
print("\nPolars Result:")
print(polars_result)

# Now implement one of your own queries in Polars below:
# Your Polars code here

SQL Result:
shape: (3, 2)
┌────────┬───────────┐
│ origin ┆ avg_delay │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ EWR    ┆ 15.107954 │
│ JFK    ┆ 12.112159 │
│ LGA    ┆ 10.346876 │
└────────┴───────────┘

Polars Result:
shape: (3, 2)
┌────────┬───────────┐
│ origin ┆ avg_delay │
│ ---    ┆ ---       │
│ str    ┆ f64       │
╞════════╪═══════════╡
│ EWR    ┆ 15.107954 │
│ JFK    ┆ 12.112159 │
│ LGA    ┆ 10.346876 │
└────────┴───────────┘

ValueError: number of placeholders should equal the number of arguments

In [88]:
import polars as pl

# Top 10 routes with % of flights delayed > 30 minutes
polars_result = (
    flights
    .group_by(["origin", "dest"])
    .agg([
        pl.len().alias("total_flights"),
        ((pl.col("dep_delay").is_not_null() & (pl.col("dep_delay") > 30))
         .cast(pl.Int64)
         .sum()
        ).alias("delayed_over_30"),
        pl.col("dep_delay").count().alias("dep_delay_non_null")
    ])
    .with_columns([
        ((pl.col("delayed_over_30") * 100.0) / pl.col("dep_delay_non_null"))
            .round(2)
            .alias("pct_delayed_over_30")
    ])
    .select(["origin", "dest", "total_flights", "delayed_over_30", "pct_delayed_over_30"])
    .sort("pct_delayed_over_30", descending=True)
    .head(10)
)

print(polars_result)

shape: (10, 5)
┌────────┬──────┬───────────────┬─────────────────┬─────────────────────┐
│ origin ┆ dest ┆ total_flights ┆ delayed_over_30 ┆ pct_delayed_over_30 │
│ ---    ┆ ---  ┆ ---           ┆ ---             ┆ ---                 │
│ str    ┆ str  ┆ u32           ┆ i64             ┆ f64                 │
╞════════╪══════╪═══════════════╪═════════════════╪═════════════════════╡
│ EWR    ┆ LGA  ┆ 1             ┆ 0               ┆ NaN                 │
│ LGA    ┆ SBN  ┆ 6             ┆ 3               ┆ 50.0                │
│ EWR    ┆ TYS  ┆ 323           ┆ 121             ┆ 38.54               │
│ EWR    ┆ TUL  ┆ 315           ┆ 112             ┆ 37.46               │
│ EWR    ┆ CAE  ┆ 104           ┆ 33              ┆ 34.74               │
│ EWR    ┆ OKC  ┆ 346           ┆ 112             ┆ 34.25               │
│ LGA    ┆ CAE  ┆ 12            ┆ 4               ┆ 33.33               │
│ LGA    ┆ BHM  ┆ 296           ┆ 88              ┆ 32.47               │
│ EWR    ┆ DSM  ┆ 411           ┆ 121             ┆ 30.79               │
│ EWR    ┆ ROC  ┆ 513           ┆ 147             ┆ 30.0                │
└────────┴──────┴───────────────┴─────────────────┴─────────────────────┘